@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

.active-icon {
  color: #0866ff;
}

.active-tag {
  position: relative;
}

.active-tag::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  background-color: #0866ff;
  position: absolute;
  top: 100%;
  left: 0px;
}

.avatar {
  position: relative;
}

.avatar::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.148);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.avatar:hover::after {
  display: initial;
}

.item-group:hover div {
  visibility: visible;
}

.image-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.242);
  display: none;
}

.activeFull {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  display: none;
  transition: 0.3s;
}

.activeFull::after {
  content: "Xem thêm";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main:hover .activeFull {
  display: block;
}

#pp:hover .image-avatar {
  display: block;
}

.scroll-container {
  overflow-y: auto;
  visibility: hidden;
}

.scroll-container:hover {
  visibility: visible;
}

::-webkit-scrollbar {
  width: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

.scroll-container:hover ::-webkit-scrollbar {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background: #bcc0c4;
  border-radius: 10px;
}

@media (forced-colors: active) {
  body {
    color: WindowText;
    background-color: Window;
  }

  .button {
    border: 1px solid Highlight;
    background-color: Highlight;
    color: HighlightText;
  }
}



/* Light Mode */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --secondary-bg-color: #f0f0f0;
  --secondary-text-color: #333333;
}

/* Dark Mode */
html.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --secondary-bg-color: #1a1a1a;
  --secondary-text-color: #b3b3b3;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container, .header, .footer {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}
